<p style="color: green"><%= notice %></p>

<h1>Shippers</h1>

<div id="shippers">
  <% @shippers.each do |shipper| %>
    <%= render shipper %>
    <p>
      <%= link_to "Show this shipper", shipper %>
    </p>
  <% end %>
</div>

<%= link_to "New shipper", new_shipper_path %>
